<!DOCTYPE html>
<html lang="">

<head>
	<meta charset="UTF-8">
	<title>JafarSadig V1.0</title>
	<!-- CSS kodları -->
	<style>
		table {
			margin: 0 auto;
			font-size: large;
			border: 1px solid black;
		}

		h1 {
			text-align: center;
			color: #006600;
			font-size: xx-large;
			font-family: 'Gill Sans', 'Gill Sans MT',
			' Calibri', 'Trebuchet MS', 'sans-serif';
		}

		td {
			background-color: #E4F5D4;
			border: 1px solid black;
		}

		th,
		td {
			font-weight: bold;
			border: 1px solid black;
			padding: 10px;
			text-align: center;
		}

		td {
			font-weight: lighter;
		}
	</style>
</head>

<body>
	<section>
		<table>
			<tr>
				<th rowspan="2">Sıra No</th>
				<th rowspan="2">Adı</th>
				<th rowspan="2">Soyadı</th>
				<th rowspan="2">Ata adı</th>
                <th rowspan="2">Sinif</th>
                <th rowspan="2">Qrup</th>
                <th rowspan="2">Cəmi</th>
                {% for name in subject_names %}
                <th colspan="3">{{ name }} </th>
                {% endfor %}
			</tr>
            <tr>
                {% for i in range(number_of_subject) %}
                    <th>Düz</th>
                    <th>Səhv</th>
                    <th>Bal</th>
                {% endfor %}
            </tr>

			<tr>
				{% for student in data %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        {% for x in student %}
                            <td>{{ x }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
		</table>
	</section>
</body>

</html>